/*Color palette:
    Teal #2ABB9B
    Blue #4F67FF
    Light Blue #8B9BFF
    Dark Purple #3A416A
    Red #FF5A43
    White #FFFFFF
*/
/*TODO[]: Adjust style to match android calculator's design more closely*/
::selection {
    background-color: orange;
    color: #FFF;
}

::-moz-selection {
    background-color: orange;
    color: #FFF;
}

body {
    background-image: url('../images/escheresque_ste.png');
    background-repeat: repeat;
}

h1 {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 1.44em;
    color: #FFF;
}

.calc-body {
    background-color: #3A416A;
    max-width: 300px;
    height: 350px;
    margin: 0 auto;
}

.calc-display {
    background-color: #3A416A;
}

.calc-display p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2.074em;
    font-weight: 500;
    padding: 5px 10px 5px 5px;
    margin-bottom: 0;
    color: #FFF;
    text-align: right;
}

.calc-keypad {
    padding-left: 4%;
}

button {
    width: 24%;
    min-height: 55px;
    float: left;
    border: #333 solid 0.5px;
    color: #FFF;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.44em;
    font-weight: 400;
}

button:not(.key-spacer):active {
    background-color: orange;
    transition: 0.1s ease all;
}

.key-spacer {
    width: 72%;
}

.key-spacer,
.key-spacer + .key-operator {
    min-height: 35px;
    background-color: #4F67FF;
}

.key-number {
    background-color: #2ABB9B;
}

.key-operator {
    background-color: #FF5A43;
}

a {
    color: #FFF;
    border-bottom: 1px #FFF solid;
    text-decoration: none;
}

a:visited,
a:hover,
a:active {
    font-weight: bold;
}

footer {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-size: 0.694em;
}